<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Administraci&oacute;n de PRO-BIENES COMERCIAL GROUP</title>
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/sb-admin.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/plugins/morris.css" rel="stylesheet">
        <link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{{STATIC_URL}}css/jquery.dataTables.min.css" rel="stylesheet">

        <script src="{{STATIC_URL}}js/jquery.js"></script> 
        <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}js/plugins/morris/raphael.min.js"></script>
        <script src="{{STATIC_URL}}js/plugins/morris/morris.min.js"></script>
        <script src="{{STATIC_URL}}js/plugins/morris/morris-data.js"></script>
        

        <script>
            function habilitar(value){
		        if(value==true){
			        document.getElementById("cargarFechaRecaudacion").disabled=false;}
                else if(value==false){
				        document.getElementById("cargarFechaRecaudacion").disabled=true;}
	        }
        </script>

    </head>

    <body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="navbar-header">
	    <a href="{{ root_url }}"> <img src="{{STATIC_URL}}img/logo.png" /> </a>
	    </div>
	    <ul class="nav navbar-right top-nav">
		<li>
		    <a href="{% url 'administracion:desloguearse' %}"><i class="fa fa-fw fa-power-off"></i>Salir</a>
		</li>
	    </ul>
	</nav>

	{% block contenido %}{% endblock %}

    <!-- jQuery Version 1.11.0 -->
    <script src="{{STATIC_URL}}js/jquery-1.11.0.js"></script>
    
    <!-- jQueryUi Version 1.8 -->
    <script src="{{STATIC_URL}}js/jquery-ui.js"></script>
    
	<script src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function() {
	    $('#tabla').dataTable( {
		"bPaginate": false,
		"bInfo": false,
		"oLanguage": {
		    "sSearch": "Filtrar:",
		},
	    } );
	} );
	</script>

	<script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function() {
	    $('#tabla2').dataTable( {
		"bPaginate": false,
		"bInfo": false,
		"oLanguage": {
		    "sSearch": "Filtrar:",
		},
	    } );
	} );
	</script>

	<script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function() {
	    $('#tabla3').dataTable( {
		"bPaginate": false,
		"bInfo": false,
		"oLanguage": {
		    "sSearch": "Filtrar:",
		},
	    } );
	} );
	</script>

	<script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function() {
	    $('#tabla4').dataTable( {
		"bPaginate": false,
		"bInfo": false,
		"oLanguage": {
		    "sSearch": "Filtrar:",
		},
	    } );
	} );
	</script>

	<script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function() {
	    $('#tabla5').dataTable( {
		"bPaginate": false,
		"bInfo": false,
		"oLanguage": {
		    "sSearch": "Filtrar:",
		},
	    } );
	} );
	</script>

	<script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function() {
	    $('#tabla6').dataTable( {
		"bPaginate": false,
		"bInfo": false,
		"oLanguage": {
		    "sSearch": "Filtrar:",
		},
	    } );
	} );
	</script>
    </body>
</html>
