{% load staticfiles %}    
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    
    <link href="{% static '../static/img/admin/logo.png' %}" rel='shortcut icon' type='image/png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administracion de alumnos</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static '../static/css/admin/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static '../static/css/bootstrap.min.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES -->
    <link href="{% static '../static/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
        <!-- CUSTOM STYLES-->
    <link href="{% static '../static/css/admin/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		  <!-- jQuery Version 1.11.0 -->
    <script src="{% static '../static/js/jquery-1.11.0.js' %}"></script>
    <!-- jQueryUi Version 1.8 -->
    <script src="{% static '../static/js/jquery-ui.js' %}"></script>
    <script src="{% static '../static/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searcheable tr').hide();
            $('.searcheable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
	</script>
</head>
<body>
    <!-- /. NAV TOP  -->
    <header class="cd-main-header">
			<a href="/" class="cd-logo"><img style="margin-top: 1%; margin-left: 1%;" src="{% static 'img/admin/logo2.png' %}" alt="Logo"></a>
			<a href="/" class="cd-nav-trigger"><span></span></a>
			<nav class="cd-nav">
				<ul class="cd-top-nav">
				</ul>
			</nav>
		</header>
	  <nav class="navbar-default navbar-side" role="navigation">
    	<div class="sidebar-collapse">
				<ul class="nav" id="main-menu" >
					<div style="background: #1F5B1F; color:#ffffff;margin-bottom:1%;" >
						<center><br><br><br><br><div>Bienvenido/a, </div><label><span class="resaltado">{{user.username}}</span></center></label>
						<br><div href="{% url 'matriculas:logout' %}">Salir</div></label>
					</div>
          <li>
    	      <a href="/"><i class="fa fa-home"></i>Inicio</a>
          </li>
          <li>
    	      <a  href="/materias"><i class="fa fa-book"></i>Materias</a>
    			</li>
          <li>
      	    <a href="/alumnos" class="active-menu" ><i class="fa fa-list"></i>Alumnos</a>
          </li>
					<li>
            <a href="/profesores"><i class="fa fa-list"></i>Profesores</a>
          </li>
				</ul>
			</div>
    </nav>
    <!-- Seccion bienvenida al sistema  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <!-- Tamaño del div es de 12 -->
                <div class="col-lg-12">
                    <center><h2>Administracion de alumnos</h2></center>
                </div>
            </div>
            {% if errorAlumno %}
            <div class="alert alert-danger">
                <strong>Error: </strong>No se ha encontrado el alumno.
            </div>
            {% endif %}
        </div>
        <!-- Seccion alumnos -->
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- Cuadro de egresados -->
                        <div class="panel-heading">
                            Alumnos
                        </div>
                    <div class="panel-body">
                        <form role="form" method="post">{% csrf_token %}
                            <div class="col-lg-5">
                                <!-- Buscardor de alumnos -->
                                <div class="form-group">
                                    <input class="form-control" type="text" name="buscarAlumnoDni" id="buscarAlumnoDni" placeholder="DNI del alumno" value="{{alumno.dni}}" style="margin-top:10px">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <button type="submit" name="buscar" class="btn btn-primary">Buscar</button>
                                <a class="btn btn-primary" href="{{ BASE_URL }}/admin/matriculas/alumno/add" target='_blank'>Crear Nuevo</a>
                            </div>
                        </form>
                        <div class="col-lg-12">
                        <!-- Tabla de informacion de todos los alumnos registrados -->
                        <table class="table table-hover">
                            <thead>
                                <!-- Datos de la tabla -->
                                <tr>
                                    <th>Materia</th>
                                    <th>Condición</th>
                                    <th>Asistencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Lo que contiene la tabla -->
                                {% for matricula in materias %}
                                <tr>
                                    <td>{{ matricula.materia.nombre }}</td>
                                    <td>{{ matricula.condicion }}</td>
                                    <td>{% if matricula.siVinoAlgunaVez %} {{ matricula.porcentajeAsistencia }}% {% else %} ----- {% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                    </div>
                    <!-- Informacion general del alumno buscado -->
                    <div class="col-lg-6 informacion informacion-alumno">
                        {% if alumno %}
                        <div class="form-group">
                            <label for="nombre">Nombre/s: </label> {{alumno.first_name}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">Apellido: </label> {{alumno.last_name}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">DNI: </label> {{alumno.dni}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">Sexo: </label> {{alumno.sexo}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">Teléfono: </label> {{alumno.telefonoFijo}} / {{alumno.telefonoMovil}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">Dirección: </label> {{alumno.domicilio}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">Estado Civil: </label> {{alumno.estadoCivil}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">E-mail: </label> <a href="mailto:{{alumno.email}}">{{alumno.email}}</a>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Fecha de nacimiento: </label> {{alumno.lugarNacimiento}}, {{alumno.fechaNacimiento.day}}/{{alumno.fechaNacimiento.month}}/{{alumno.fechaNacimiento.year}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">Lugar de Trabajo: </label> {{alumno.lugarDeTrabajo}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">Hora de Trabajo: </label> {{alumno.horaDeTrabajo}}
                        </div>
                        <div class="form-group">
                            <label for="nombre">Paternidad: </label> {% if alumno.paternidad %}Sí{% else %}No{% endif %}
                        </div>
                        <div class="form-group">
                            <label for="nombre">¿Egreso?: </label> {% if alumno.egreso %}Sí{% else %}No{% endif %}
                        </div>
                        <div class="form-group col-lg-offset-11">
                            <label for="nombre"><a class="btn btn-primary" href="{{ BASE_URL }}/admin/matriculas/alumno/{{alumno.id}}" target='_blank'>Editar</a></label>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--Seccion egresados -->
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- Cuadro de egresados -->
                        <div class="panel-heading">
                            Egresados
                        </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <!-- Buscador de egresados -->
                                    <div class="input-group"> <span class="input-group-addon">Buscar</span>
                                        <input id="filter" type="text" class="form-control" placeholder="Escriba aquí...">
                                    </div>
                                    <br></br>
                                    <br></br>
                                    <!-- Tabla de los egresados del instituto -->
                                    <table class="table table-hover">
                                    <!-- Datos de la tabla -->
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; ">Nombre</th>
                                            <th style="text-align: center;" data-sortable="true">Año de egreso</th>
                                            <th style="text-align: center;"><div class="th-inner sortable">Informacion</th>
                                        </tr>
                                    </thead>
                                    <!-- Contenido de la tabla -->
                                    <tbody class="searcheable">
                                        {% for egresado in alumnos %}
                                        {% if egresado.egreso %}
                                        <tr>
                                            <td style="text-align: center; ">{{ egresado.last_name }}, {{ egresado.first_name }}</td>
                                            <td style="text-align: center; ">{{ egresado.anioEgreso }}</td>
                                            <td style="text-align: center; "><form role="form" method="post">{% csrf_token %}<input type="hidden" name="buscarAlumnoDni" id="buscarAlumnoDni" value="{{egresado.dni}}"><button type="submit" name="buscar" class="btn btn-primary">Cargar</button></form></td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
			<footer style="width:100%; text-align:center; font-size:10px; margin-top:5%; color:grey;">
					Desarrollado por SENAM
          <br><br>
          Copyright © 2015 Instituto Parroquial San José.
          <br><br>
          Todos los Derechos Reservados.
				</footer>
    </div>   
</body>
    
</html>
