{% load staticfiles %}    
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    
    <link href="{% static 'img/admin/logo.png' %}" rel='shortcut icon' type='image/png'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administracion de alumnos</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/admin/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES -->
    <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
        <!-- CUSTOM STYLES-->
    <link href="{% static 'css/admin/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searcheable tr').hide();
            $('.searcheable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
	</script>
</head>
<body>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="centradodiv">
            <div class="container-fluid">
                <!-- Logo del instituto -->
                <a href="inicio.html"><img src="{% static 'img/admin/logo.png' %}"></a>
            </div>
            <div class="container-fluid centrado" id="div-usuario" style="color:#fff;">
                Bienvenido/a, <span class="resaltado">{{user.username}}</span>
                <br><a href="{% url 'matriculas:logout' %}">Salir</a>
            </div>
        </div>
        <!-- Menu con opciones -->
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu" >
                <li>
                    <a   href="inicio.html"><i class="fa fa-desktop fa-2x"></i>Inicio</a>
                </li>
                <li>
                    <a class="active-menu" href="alumnos.html"><i class="fa fa-user fa-2x"></i>Alumnos</a>
                </li>
                <li>
                    <a  href="profesores.html"><i class="fa fa-briefcase fa-2x"></i>Profesores</a>
                </li>
                <li>
                    <a  href="materias.html"><i class="fa fa-book fa-2x"></i>Materias</a>
                </li>
            </ul>
        </div>
        <div id="sub-footer" class="sub-footer">
				Desarrollado por SENAM
				<br><br>
				Copyright © 2015 Instituto Parroquial San José.
				<br><br>
				Todos los Derechos Reservados.
		</div>
    </nav>
    <!-- Seccion bienvenida al sistema  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <!-- Tamaño del div es de 12 -->
                <div class="col-lg-12">
                    <center><h2>Administracion de alumnos</h2></center>
                    <center><h5>Bienvenido al sistema <b>seba</b> !</h5></center> 
                </div>
            </div>
        </div>
        <!-- Seccion alumnos -->
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- Cuadro de egresados -->
                        <div class="panel-heading">
                            Alumnos
                        </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="col-lg-5">
                                <!-- Buscardor de alumnos -->
                                <div class="form-group">
                                    <input class="form-control" type="text" id="buscar" placeholder="DNI del alumno" style="margin-top:10px">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <button type="submit" name="buscar" class="btn btn-primary">Buscar</button>
                                <button type="submit" name="nuevoAlumno" class="btn btn-primary">Crear Alumno</button>
                            </div>
                        </form>
                        <div class="col-lg-12">
                        <!-- Tabla de informacion de todos los alumnos registrados -->
                        <table class="table table-hover">
                            <thead>
                                <!-- Datos de la tabla -->
                                <tr>
                                    <th>Materia</th>
                                    <th>Condición</th>
                                    <th>Asistencia</th>
                                    <th>Matricula</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Lo que contiene la tabla -->
                                <tr>
                                    <td>Lengua</td>
                                    <td>Regular</td>
                                    <td>80%</td>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <td>Matematicas</td>
                                    <td>Regular</td>
                                    <td>95%</td>
                                    <td>Si</td>
                                  </tr>
                                <tr>
                                    <td>Historia</td>
                                    <td>Libre</td>
                                    <td>0%</td>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <td>Fisica</td>
                                    <td>Libre</td>
                                    <td>0%</td>
                                    <td>Si</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                    </div>
                    <!-- Informacion general del alumno buscado -->
                    <div class="col-lg-6 informacion-alumno">
                        <form role="form">
                            <div class="form-group">
                                <label for="nombre">Nombre/s:</label>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Apellido:</label>
                            </div>
                            <div class="form-group">
                                <label for="nombre">DNI:</label>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Teléfono:</label>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Dirección:</label>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Legajo:</label>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Paternidad:</label>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Fecha de nacimiento:</label>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Ocupación:</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Seccion egresados -->
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- Cuadro de egresados -->
                        <div class="panel-heading">
                            Egresados
                        </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <!-- Buscador de egresados -->
                                    <div class="input-group"> <span class="input-group-addon">Buscar</span>
                                        <input id="filter" type="text" class="form-control" placeholder="Escriba aquí...">
                                    </div>
                                    <br></br>
                                    <br></br>
                                    <!-- Tabla de los egresados del instituto -->
                                    <table class="table table-hover">
                                    <!-- Datos de la tabla -->
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; ">Nombre</th>
                                            <th style="text-align: center;" data-sortable="true">Año de egreso</th>
                                            <th style="text-align: center;"><div class="th-inner sortable">Informacion</th>
                                        </tr>
                                    </thead>
                                    <!-- Contenido de la tabla -->
                                    <tbody class="searcheable">
                                        <tr data-index="0">
                                            <td style="text-align: center; ">Juan</td>
                                            <td style="text-align: center; ">2006</td>
                                            <td style="text-align: center;"><a href="#"><i class="fa fa-eye" title="Mas información"></i></a></td>
                                        </tr>
                                        <tr data-index="1">
                                            <td style="text-align: center; ">Pepito</td>
                                            <td style="text-align: center; ">2009</td>
                                            <td style="text-align: center;"><a href="#"><i class="fa fa-eye" title="Mas información"></i></a></td>
                                        </tr>
                                        <tr data-index="2">
                                            <td style="text-align: center; ">Pedrito</td>
                                            <td style="text-align: center; ">1998</td>
                                            <td style="text-align: center;"><a href="#"><i class="fa fa-eye" title="Mas información"></i></a></td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- /. PAGE WRAPPER  -->
    
   
        </div>
        
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS 
    <script src="assets/js/jquery-1.10.2.js"></script>-->
      <!-- BOOTSTRAP SCRIPTS 
    <script src="assets/js/bootstrap.min.js"></script>-->
    <!-- METISMENU SCRIPTS 
    <script src="assets/js/jquery.metisMenu.js"></script>-->
     <!-- MORRIS CHART SCRIPTS 
     <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>-->
      <!-- CUSTOM SCRIPTS 
    <script src="assets/js/custom.js"></script>-->
    
   
</body>
    
</html>
