{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Instituo San Jose</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/admin/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="{% static 'css/plugins/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'fonts/font-awesome/fonts/font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    
    <link href="{% static 'img/admin/logo.png' %}" rel='shortcut icon' type='image/png'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/admin/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/admin/bootstrap.min.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES
    <link href=" css/admin/font-awesome.css" rel="stylesheet" />-->
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
        <!-- CUSTOM STYLES-->
    <link href="{% static 'css/admin/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
 
</head>

<body style="background:#FAFAFA;">
    <div class="col-md-4 col-md-offset-4 centrar" style="padding:30px; background:#C9FFC9; border: 3px solid #C9FFC9; border-radius: 15px; margin-top:8%;">
            <img src="{% static 'img/admin/logo.png' %}">
		<div style="margin-top: 0px;border-top-width: 0px;border-bottom-width: 0px;margin-bottom: 0px;">
			<h2 style="color:grey;">Error</h2>
            <h3> Usuario o contraseña incorrectos</h3>
            <a href="{% url 'login' %}">Volver a intentar</a>
		    
		</div>
	    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'plugins/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>

</body>
