{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <link href="{% static '../static/img/admin/logo.png' %}" rel='shortcut icon' type='image/png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static '../static/css/admin/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static '../static/css/bootstrap.min.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES -->
    <link href="{% static '../static/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
        <!-- CUSTOM STYLES-->
    <link href="{% static '../static/css/admin/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		  <!-- jQuery Version 1.11.0 -->
    <script src="{% static '../static/js/jquery-1.11.0.js' %}"></script>
    <!-- jQueryUi Version 1.8 -->
    <script src="{% static '../static/js/jquery-ui.js' %}"></script>
    <script src="{% static '../static/js/jquery.dataTables.min.js' %}"></script>
</head>
<body>
    <!-- /. NAV TOP  -->
    <header class="cd-main-header">
			<a href="/" class="cd-logo"><img style="margin-top: 1%; margin-left: 1%;" src="{% static '../static/img/admin/logo2.png' %}" alt="Logo"></a>
			<a href="/" class="cd-nav-trigger"><span></span></a>
			<nav class="cd-nav">
				<ul class="cd-top-nav">
				</ul>
			</nav>
		</header>
	  <nav class="navbar-default navbar-side" role="navigation">
    	<div class="sidebar-collapse">
				<ul class="nav" id="main-menu" >
					<div style="background: #1F5B1F; color:#ffffff;margin-bottom:1%;" >
						<center><br><br><br><br><div>Bienvenido/a, </div><label><span class="resaltado">{{user.username}}</span></center></label>
						<br>
					</div>
          <li>
    	      <a  class="active-menu" href="/"><i class="fa fa-home"></i>Inicio</a>
          </li>
          <li>
      	    <a href="/alumnos"><i class="fa fa-users"></i>Alumnos</a>
          </li>
					<li>
            <a href="/profesores"><i class="fa fa-briefcase"></i>Profesores</a>
          </li>
        <li>
    	      <a  href="/materias"><i class="fa fa-book"></i>Materias</a>
    	</li>
        <li>
    	      <a  href="/egresados"><i class="fa fa-graduation-cap"></i>Egresados</a>
    	</li>
         <li>
    	      <a  href="/turnos_de_examen"><i class="fa fa-calendar-check-o"></i>Turnos de examen</a>
    	</li>
        <li>
    	      <a  class="alerta" href="{% url 'matriculas:logout' %}"><i class="fa fa-sign-out"></i>Salir</a>
    	</li>
				</ul>
			</div>
    </nav>
        <!-- /. NAV SIDE  -->
        
        <div id="page-wrapper" class="wrapper-bajado">
            <div id="page-inner">
                <div class="row" >
                    <!-- <div class="col-md-12">
                    <h2>Administracion del Sistema</h2>   
                    <h5>Bienvenido al sistema <b>agustin</b> !</h5> -->
                    <div class="col-lg-12">
                        <div class="col-lg-1"></div>
                        <a href="/alumnos">
                            <div class="col-lg-4 col-sm-5 boton-inicio">
                            <h1 class="verticalcenter h1"><span class="fa fa-user fa-1x " aria-hidden="true"></span> Alumnos</h1>
                            </div>
                        </a>
                        <div class="col-lg-2"></div>
                        <a href="/profesores">
                            <div class="col-lg-4 col-sm-5 boton-inicio">
                            <h1 class="verticalcenter text-center h1"><span class="fa fa-briefcase fa-1x" aria-hidden="true"></span> Profesores</h1>
                            </div>
                        </a>
                        <div class="col-lg-1"></div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-1"></div>
                        <a href="/materias">
                            <div class="col-lg-4 col-sm-5 boton-inicio">
                            <h1 class="verticalcenter text-center h1"><span class="fa fa-book fa-1x" aria-hidden="true"></span> Materias</h1>
                            </div>
                        </a>
                        <div class="col-lg-2"></div>
                        <a href="/egresados">
                            <div class="col-lg-4 col-sm-5 boton-inicio">
                            <h1 class="verticalcenter text-center h1"><span class="fa fa-graduation-cap fa-1x" aria-hidden="true"></span> Egresados</h1>
                            </div>
                        </a>
                    </div>
                </div>
                 <!-- /. ROW  -->
                <div class="row">      
                             
                </div>
            </div>
             <!-- /. PAGE INNER  -->
					<footer style="width:100%; text-align:center; font-size:10px; margin-top:5%; color:grey;">
					Desarrollado por  <img src="{% static '../static/img/admin/logo_senam.png' %}" style="height:15px;">
          <br><br>
          Copyright © 2015 Instituto Parroquial San José.
          <br><br>
          Todos los Derechos Reservados.
				</footer>
        </div>
</body>

</html>
