{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <link href="{% static '../static/img/admin/logo.png' %}" rel='shortcut icon' type='image/png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
		<!-- BOOTSTRAP STYLES-->
    <link href="{% static '../static/css/admin/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static '../static/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES -->
    <link href="{% static '../static/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
    <!-- CUSTOM STYLES-->
    <link href="{% static '../static/css/admin/custom.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css' />
    <!-- GOOGLE FONTS-->
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- jQuery Version 1.11.0 -->
    <script src="{% static '../static/js/jquery-1.11.0.js' %}"></script>
    <!-- jQueryUi Version 1.8 -->
    <script src="{% static '../static/js/jquery-ui.js' %}"></script>
    <script src="{% static '../static/js/jquery.dataTables.min.js' %}"></script>
		<noscript>
			<style>
				.st-accordion ul li{
					height:auto;
				}
				.st-accordion ul li > a span{
					visibility:hidden;
				}
			</style>
		</noscript>
</head>
<body>
    <!-- /. NAV TOP  -->
    <header class="cd-main-header">
			<a href="/" class="cd-logo"><img style="margin-top: 1%; margin-left: 1%;" src="{% static '../static/img/admin/logo2.png' %}" alt="Logo"></a>
			<a href="/" class="cd-nav-trigger"><span></span></a>
			<nav class="cd-nav">
				<ul class="cd-top-nav">
				</ul>
			</nav>
		</header>
	  <nav class="navbar-default navbar-side" role="navigation">
    	<div class="sidebar-collapse">
				<ul class="nav" id="main-menu" >
					<div style="background: #1F5B1F; color:#ffffff;margin-bottom:1%;" >
						<center><br><br><br><br><div>Bienvenido/a, </div><label><span class="resaltado">{{user.username}}</span></center></label>
						<br>
					</div>
          <li>
    	      <a  class="active-menu" href="/"><i class="fa fa-home"></i>Inicio</a>
          </li>
          <li>
      	    <a href="/alumnos"><i class="fa fa-users"></i>Alumnos</a>
          </li>
					<li>
            <a href="/profesores"><i class="fa fa-briefcase"></i>Profesores</a>
          </li>
        <li>
    	      <a  href="/materias"><i class="fa fa-book"></i>Materias</a>
    	</li>
        <li>
    	      <a  href="/egresados"><i class="fa fa-graduation-cap"></i>Egresados</a>
    	</li>
         <li>
    	      <a  href="/turnos_de_examen"><i class="fa fa-calendar-check-o"></i>Turnos de examen</a>
    	</li>
        <li>
    	      <a  class="alerta" href="{% url 'matriculas:logout' %}"><i class="fa fa-sign-out"></i>Salir</a>
    	</li>
				</ul>
			</div>
    </nav>
        <!-- /. NAV SIDE  -->
        
        <div id="page-wrapper" class="wrapper-bajado">
            <div id="page-inner">
                <div class="row" >
                    <h2 style="margin-left: 2%;">Bienvenido al sistema de gestión del nivel terciario<h2>                    
                </div><br>
            </div>
						<div id="page-inner-cuerpo">
                <div class="row" >
                    <h6 style="margin-left: 2%;"><p>En esta página encontrarás las herramientas necesarias para cada tarea de gestión de la actividad escolar del Instituto Parroquial San José.</p><p>A su izquierda aparecerá un navegador en el cual se encuentran las diferentes categorías, cada una con sus utilidades, las cuales estan descriptas a continuación:</p></h6>
								<div id="st-accordionizq" class="st-accordion">
                    <ul>
                        <li>
                            <a href="#">Alumnos<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>En esta sección podremos agregar alumnos, buscarlos y ver su información personal, matricularlos en materias, ver sus matriculas y su condicion de aprobación.</p>
                            </div>
                        </li>
												<li>
                            <a href="#">Materias<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>En esta seccion se podrá agregar materias y cursos, y ver las materias que se dictan en el instituto con sus respectivas caracteristicas como se muestra a continuacion:<br>- Nombre de la Materia<br>- Profesor<br>- Correlativas de Cursado<br>- Tipo de Materia<br>- Correlativas de Rendir<br>- Lista de alumnos (nombre y DNI de cada alumno que la cursa)<br>- Horario</p>
                            </div>
                        </li>
											</ul>
										</div>
										<div id="st-accordionder" class="st-accordion">
                    <ul>
                        <li>
                            <a href="#">Profesores<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>En esta sección se podrán ver los profesores que hay en la institucion, sus datos personales con posibilidad de edición, sus horarios, licencias que se ha tomado, y los cargos que posee.</p>
                            </div>
                        </li>
												<li>
                            <a href="#">Egresados<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>En esta sección se detallan los egresados del instituto con sus datos personales y año de egreso.</p>
                            </div>
                        </li>
											</ul>
										</div>
										<div id="st-accordioncen" class="st-accordion" style="width: 100% !important;float: center !important;text-align:center;">
                    <ul>
                        <li>
                            <a href="#">Turnos de examen<span class="st-arrow">Open or Close</span></a>
                            <div class="st-content">
                                <p>Aquí encontraremos informacion sobre los exámenes a rendir en el instituto (nombre de la materia y profesor que la dicta). Además encontraremos un campo de observaciones en el que el profesor puede escribir lo que crea necesario</p>
                            </div>
                        </li>
											</ul>
										</div><br>
            </div>
        </div>
             <!-- /. PAGE INNER  -->
                <footer style="width:100%; text-align:center; font-size:10px; margin-top:5%; color:grey;">
                  Copyright © 2015 Instituto Parroquial San José.
                  <br><br>
                  Todos los Derechos Reservados.
                <br><br>
                Desarrollado por  <img src="{% static '../static/img/admin/logo_senam.png' %}" class="logo-senam">
            </footer>
        </div>
				<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
				<script type="text/javascript" src="{% static '../static/js/jquery.accordion.js' %}"></script>
				<script type="text/javascript" src="{% static '../static/js/jquery.easing.1.3.js' %}"></script>
        <script type="text/javascript">
            $(function() {
			
							$('#st-accordionizq').accordion();
				
            });
        </script>
				<script type="text/javascript">
            $(function() {
			
							$('#st-accordionder').accordion();
				
            });
        </script>
				<script type="text/javascript">
            $(function() {
			
							$('#st-accordioncen').accordion();
				
            });
        </script>
</body>

</html>
