{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <link href="{% static '../static/img/admin/logo.png' %}" rel='shortcut icon' type='image/png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static '../static/css/admin/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static '../static/css/bootstrap.min.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES -->
    <link href="{% static '../static/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
        <!-- CUSTOM STYLES-->
    <link href="{% static '../static/css/admin/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link href="{% static '../static/css/jquery-ui.css' %}" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		  <!-- jQuery Version 1.11.0 -->
    <script src="{% static '../static/js/jquery-1.11.0.js' %}"></script>
    <!-- jQueryUi Version 1.8 -->
    <script src="{% static '../static/js/jquery-ui.js' %}"></script>
    <script src="{% static '../static/js/jquery.dataTables.min.js' %}"></script>
		<script>
  		$(function() {
    		$( "#accordion" ).accordion({
      		collapsible: true
    		});
  		});
  	</script>
</head>
<body>
    <!-- /. NAV TOP  -->
    <header class="cd-main-header">
			<a href="/" class="cd-logo"><img style="margin-top: 1%; margin-left: 1%;" src="{% static '../static/img/admin/logo2.png' %}" alt="Logo"></a>
			<a href="/" class="cd-nav-trigger"><span></span></a>
			<nav class="cd-nav">
				<ul class="cd-top-nav">
				</ul>
			</nav>
		</header>
	  <nav class="navbar-default navbar-side" role="navigation">
    	<div class="sidebar-collapse">
				<ul class="nav" id="main-menu" >
					<div style="background: #1F5B1F; color:#ffffff;margin-bottom:1%;" >
						<center><br><br><br><br><div>Bienvenido/a, </div><label><span class="resaltado">{{user.username}}</span></center></label>
						<br>
					</div>
          <li>
    	      <a  class="active-menu" href="/"><i class="fa fa-home"></i>Inicio</a>
          </li>
          <li>
      	    <a href="/alumnos"><i class="fa fa-users"></i>Alumnos</a>
          </li>
					<li>
            <a href="/profesores"><i class="fa fa-briefcase"></i>Profesores</a>
          </li>
        <li>
    	      <a  href="/materias"><i class="fa fa-book"></i>Materias</a>
    	</li>
        <li>
    	      <a  href="/egresados"><i class="fa fa-graduation-cap"></i>Egresados</a>
    	</li>
         <li>
    	      <a  href="/turnos_de_examen"><i class="fa fa-calendar-check-o"></i>Turnos de examen</a>
    	</li>
        <li>
    	      <a  class="alerta" href="{% url 'matriculas:logout' %}"><i class="fa fa-sign-out"></i>Salir</a>
    	</li>
				</ul>
			</div>
    </nav>
        <!-- /. NAV SIDE  -->
        
        <div id="page-wrapper" class="wrapper-bajado">
            <div id="page-inner">
                <div class="row" >
                    <h2 style="margin-left: 2%;">Bienvenido al sistema de gestión del nivel terciario<h2>                    
                </div><br>
            </div>
						<div id="page-inner-cuerpo">
                <div class="row" >
                    <h5 style="margin-left: 2%;">En esta página encontrarás las herramientas necesarias para cada tarea de gestión de la actividad escolar del Instituto Parroquial San José.<br><br>A su izquierda aparecerá un navegador en el cual se encuentran las diferentes categorías, cada una con sus utilidades, las cuales estan descriptas a continuación:<h5>
								<div id="accordion" style="width: 90%;margin-left: 5%;margin-top: 2%;">
  <h3>Section 1</h3>
  <div>
    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
  </div>
  <h3>Section 3</h3>
  <div>
    <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Section 4</h3>
  <div>
    <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
  </div>
</div>
                </div><br>
            </div>
             <!-- /. PAGE INNER  -->
					<footer style="width:100%; text-align:center; font-size:10px; margin-top:5%; color:grey;">
					Desarrollado por  <img src="{% static '../static/img/admin/logo_senam.png' %}" style="height:15px;">
          <br><br>
          Copyright © 2015 Instituto Parroquial San José.
          <br><br>
          Todos los Derechos Reservados.
				</footer>
        </div>
</body>

</html>
