{% load staticfiles %}    
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    
    <link href="{% static "img/admin/logo.png" %}" rel='shortcut icon' type='image/png'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static "css/admin/bootstrap.css" %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static "fonts/font-awesome/css/font-awesome.css" %}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
        <!-- CUSTOM STYLES-->
    <link href="{% static "css/admin/custom.css" %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script src="{% static "js/jquery.js" %}"></script> 
    <script src="{% static "js/bootstrap.min.js" %}"></script>
	
	    <!-- jQuery Version 1.11.0 -->
    <script src="{% static "js/jquery-1.11.0.js" %}"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.js"></script>
    
    <!-- jQueryUi Version 1.8 -->
    <script src="{% static "js/jquery-ui.js" %}"></script>
    
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searcheable tr').hide();
            $('.searcheable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
	</script>

</head>
<body>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="centradodiv">
            <div class="container-fluid">
                <a href="/"><img src="{% static 'img/admin/logo.png' %}"></a>
            </div>
            <div class="container-fluid centrado" id="div-usuario" style="color:#fff;">
                <span class="">Bienvenido/a, <span class="resaltado">{{user.username}}</span></span>
                <br><a href="{% url 'matriculas:logout' %}">Salir</a>
            </div>
        </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu" >
                    <li>
                        <a   href="/"><i class="fa fa-desktop fa-2x"></i>Inicio</a>
                    </li>
                    <li>
                        <a   href="/alumnos"><i class="fa fa-user fa-2x"></i>Alumnos</a>
                    </li>
                    <li>
                        <a  href="/profesores"><i class="fa fa-briefcase fa-2x"></i>Profesores</a>
                    </li>
                    <li>
                        <a class="active-menu"  href="/materias"><i class="fa fa-book fa-2x"></i>Materias</a>
                    </li>
                </ul>
            </div>
            <div id="sub-footer" class="sub-footer">
				Desarrollado por SENAM
				<br><br>
				Copyright © 2015 Instituto Parroquial San José.
				<br><br>
				Todos los Derechos Reservados.
		</div>  
    </nav>
        <!-- /. NAV SIDE  -->
        
        <div id="page-wrapper" >
                        <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <center><h2>Administracion de Materias</h2></center>
                    </div>
                    </div>
             <!-- /. PAGE INNER  -->
                 </div>
            <div id="page-inner">
                <div class="row">
                </div>
                
						<div class="panel panel-default">              
        <div class="panel-heading">
		    Lista de materias
		</div>
		<div class="panel-body">
		    <div class="row">
			<div class="col-lg-12">
			    <div class="table-responsive">
				<div class="input-group"> <span class="input-group-addon">Buscar</span>

                    <input id="filter" type="text" class="form-control" placeholder="Escriba Aqui...">
                </div> <br>
                <table id="tabla" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
					  <th>Materia</th>
					  <th>Horario</th>
					  <th>Profesor</th>
					  <th>Tipo</th>
					  <th>Correlatividades</th>
					</tr>
				</thead>
				<tbody class="searcheable">
                    {% for Materia in materias %}
					<tr>
                        <td>{{ Materia.nombre }}</td>
                        <td>10:30 a 11:30</td>
                        <td>-e</td>
                        <td>{{ Materia.tipo }}</td>
						<td>-</td>
						<td><button type="submit" name="editar" class="btn btn-primary">Editar</button></td>
                    </tr>
                    {% endfor %}
				</tbody>
				</table>
                    <button type="submit" name="crear" class="btn btn-primary">Crear</button>
				
				    <form role="form" method="post">
				      <br />
				    </form>
			    </div>
			</div>
		    </div>
		</div>
        </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
        
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS 
    <script src="assets/js/jquery-1.10.2.js"></script>-->
      <!-- BOOTSTRAP SCRIPTS 
    <script src="assets/js/bootstrap.min.js"></script>-->
    <!-- METISMENU SCRIPTS 
    <script src="assets/js/jquery.metisMenu.js"></script>-->
     <!-- MORRIS CHART SCRIPTS 
     <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>-->
      <!-- CUSTOM SCRIPTS 
    <script src="assets/js/custom.js"></script>-->
    
   
</body>
    
</html>
