{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <link href="{% static '../static/img/admin/logo.png' %}" rel='shortcut icon' type='image/png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administracion de alumnos</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static '../static/css/admin/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static '../static/css/bootstrap.min.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES -->
    <link href="{% static '../static/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
        <!-- CUSTOM STYLES-->
    <link href="{% static '../static/css/admin/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		  <!-- jQuery Version 1.11.0 -->
    <script src="{% static '../static/js/jquery-1.11.0.js' %}"></script>
    <!-- jQueryUi Version 1.8 -->
    <script src="{% static '../static/js/jquery-ui.js' %}"></script>
    <script src="{% static '../static/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript">
	// Tabla de alumnos
	$(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searcheable tr').hide();
            $('.searcheable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
	</script>
</head>
<body>
    <!-- /. NAV TOP  -->
    <header class="cd-main-header">
			<a href="/" class="cd-logo"><img style="margin-top: 1%; margin-left: 1%;" src="{% static '../static/img/admin/logo2.png' %}" alt="Logo"></a>
			<a href="/" class="cd-nav-trigger"><span></span></a>
			<nav class="cd-nav">
				<ul class="cd-top-nav">
				</ul>
			</nav>
		</header>
	  <nav class="navbar-default navbar-side" role="navigation">
    	<div class="sidebar-collapse">
								<ul class="nav" id="main-menu" >
					<div style="background: #1F5B1F; color:#ffffff;margin-bottom:1%;" >
						<center><br><br><br><br><div>Bienvenido/a, </div><label><span class="resaltado">{{user.username}}</span></center></label>
						<br><a href="{% url 'matriculas:logout' %}">Salir</a>
					</div>
          <li>
    	      <a   href="/"><i class="fa fa-home"></i>Inicio</a>
          </li>
          <li>
      	    <a class="active-menu" href="/alumnos"><i class="fa fa-users"></i>Alumnos</a>
          </li>
					<li>
            <a href="/profesores"><i class="fa fa-briefcase"></i>Profesores</a>
          </li>
        <li>
    	      <a  href="/materias"><i class="fa fa-book"></i>Materias</a>
    	</li>
				</ul>
			</div>
    </nav>
    <!-- Pagina general  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <!-- Tamaño del div es de 12 -->
                <div class="col-lg-12">
                    <center><h2>Administracion de profesores</h2></center>
                </div>
            </div>
        </div>
        <!-- Sección buscar profesores -->
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">      
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Lista de Profesores
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="col-lg-6">
                                    <div class="input-group" style="margin-top:10px"> 
                                        <span class="input-group-addon">Buscar</span>
                                        <input id="filter" type="text" class="form-control" placeholder="Escriba aqui...">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="submit" name="crear" class="btn btn-default">Nuevo</button>
                                </div>
                            </form>
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                          <th>Profesor</th>
                                          <th>Ver</th>
                                          <th>Editar</th>
                                        </tr>
                                    </thead>
                                    <tbody class="searcheable">
                                        {% for profesor in profesores %}
                                        <tr>
                                            <td>{{profesor.last_name}}, {{profesor.first_name}}</td>
                                            <td><form method="post" role="form">{% csrf_token %}
                                                    <input type="hidden" name="buscarProfesorId" id="buscarProfesorId" value="{{profesor.id}}">
                                                    <button type="submit" name="btnProfesorId" class="btn btn-default btn-xs"><i class="fa fa-eye" title="Ver" ></i></button></form></td>
                                            <td><a class="btn btn-default btn-xs" href="{{ BASE_URL }}/admin/matriculas/profesor/{{profesor.id}}" target="_blank"><i class="fa fa-pencil" title="Editar"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">  
                    <div class="col-sm-10 col-lg-6 informacion-profe">
                        <form role="form" style="margin-top:10px"> 
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-top:10px;">
                                    <label for="nombre">Nombre/s:</label><h> {{profesor.first_name}}</h>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-top:10px;">
                                    <label>Apellido:</label><h> {{profesor.last_name}}</h>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Lugar y fecha de nacimiento:</label><h> {{profesor.lugarNacimiento}}, {{profesor.fechaNacimiento}}</h>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Estado civil:</label><h> {{profesor.estadoCivil}}</h>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Cuil:</label><h> {{profesor.cuil}}</h>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Domicilio:</label><h> {{profesor.domicilio}}</h>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Teléfono:</label><h> {{profesor.telefonoFijo}}</h>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Celular:</label><h> {{profesor.telefonoMovil}}</h>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Mail:</label><h> {{profesor.email}}</h>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Titulo y Nº de registro:</label><h> {{profesor.titulo}}, {{profesor.numeroRegistro}}</h>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Fecha de escalafón:</label><h> {{profesor.fechaEscalafon}}</h>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Fecha de apto psicofisico:</label><h> {{profesor.fechaAptoPsicofisico}}</h>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Cargo (cantidad de horas - alta y baja):</label><h> {{profesor.cargo}}</h>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label>Licencias:</label><h> -</h>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-10 col-lg-5 col-lg-offset-1 informacion-profesores">
                        <div class="table-responsive">
                        <table class="table table-hover" id="tablaProfes">
                            <thead>
                                <tr>
                                  <th>Materia</th>
                                  <th>Día</th>
                                  <th>Horario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ingles</td>
                                    <td>Martes</td>
                                    <td>08:00/08:40hs</td>
                                </tr>
                                <tr>
                                    <td>Ingles</td>
                                    <td>Martes</td>
                                    <td>10:00/12:00hs</td>
                                </tr>
                                <tr>
                                    <td>Ingles</td>
                                    <td>Jueves</td>
                                    <td>10:00/12:00hs</td>
                                </tr>
                                <tr>
                                    <td>Ingles</td>
                                    <td>Jueves</td>
                                    <td>10:00/12:00hs</td>
                                </tr>
                                <tr>
                                    <td>Ingles</td>
                                    <td>Jueves</td>
                                    <td>10:00/12:00hs</td>
                                </tr>
                                <tr>
                                    <td>Ingles</td>
                                    <td>Jueves</td>
                                    <td>10:00/12:00hs</td>
                                </tr>
                                <tr>
                                    <td>Ingles</td>
                                    <td>Jueves</td>
                                    <td>10:00/12:00hs</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
				<footer style="width:100%; text-align:center; font-size:10px; margin-top:5%; color:grey;">
					Desarrollado por SENAM
          <br><br>
          Copyright © 2015 Instituto Parroquial San José.
          <br><br>
          Todos los Derechos Reservados.
				</footer>
    </div>
</body>
</html>
