<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    
    <link href='../img/admin/logo.png' rel='shortcut icon' type='image/png'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistencia</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="../css/admin/bootstrap.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
   <link href="../fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
    <!-- CUSTOM STYLES-->
    <link href="../css/admin/custom.css" rel="stylesheet" />
    
</head>
<body>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="centradodiv">
            <!-- Logo del instituto  -->
            <div class="container-fluid">
                <a href="inicio.html"><img src="../img/admin/logo.png"></a>
            </div>
            <!-- Bienvenida al sistema y salir del sistema  -->
            <div class="container-fluid centrado" id="div-usuario" style="color:#fff;">
                Bienvenido/a, <span class="resaltado">Judith</span>
                <br><a href="login.html">Salir</a>
            </div>
        </div>
        <!-- Menu  -->
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu" >
                <li> <!-- Incio  -->
                    <a  href="inicio.html"><i class="fa fa-user fa-2x"></i>Inicio</a>
                </li>
                <li> <!-- Materias  -->
                    <a  href="materias.html"><i class="fa fa-book fa-2x"></i>Materias</a>
                </li>
                <li> <!-- Tomar asistencia  -->
                    <a class="active-menu" href="asistencia.html"><i class="glyphicon glyphicon-list-alt fa-2x"></i>Tomar asistencia</a>
                </li>
            </ul>
        </div> 
        <!-- Footer  -->
        <div id="sub-footer" class="sub-footer"> 
            <!-- Datos de los desarrolladores del sistema  -->
            Desarrollado por SENAM
            <br><br>
            Copyright © 2015 Instituto Parroquial San José.
            <br><br>
            Todos los Derechos Reservados.
        </div>  
    </nav>
    <!--  Inicia la pagina  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <!-- Titulo de la pagina  -->
            <div class="row">
                <div class="col-lg-12">
                    <center><h2>Tomar asistencia</h2></center>
                </div>
            </div>
        </div>
        <!-- Otra seccion  -->
        <div id="page-inner">
            <div class="row">
                <!-- Formulario para tomar asistencia (seleccionar materia y dia)-->
                <form class="form-horizontal" role="form">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <h4 class="col-lg-3">Seleccionar una materia:</h4>
                            <select class="col-lg-3" style="margin-top:2%;">
                                <option value="nombre" selected disabled>Seleccionar una materia</option>
                                <option value="mat1">Analisis matematico 1</option>
                                <option value="mat2">Analisis matematico 2</option>
                                <option value="mat3">Analisis matematico 3</option>
                            </select>
                            <h4 class="col-lg-1 col-offset-1">Dia:</h4>
                            <!-- Datepicker (nota: solo funciona en chrome)  -->
                            <div class="col-xs-5 date">
                                <div class="input-group input-append date" id="dateRangePicker" style="margin-top:3.5%">
                                    <input type="date" class="form-control" name="date" />
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- /. ROW  -->
        </div> <!-- /. PAGE INNER  -->
        <!-- Incia otra seccion  -->
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <!--  Tabla para tomar asistencia  -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                  <th>Alumnos</th>
                                  <th>Tomar asistencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Augusto jair</td>
                                    <td>
                                        <!-- name (tienen que tener el mismo nombre para que lo reconozca dentro del mismo lugar)  -->
                                        P<input checked type="radio" name="asistencia" id="pres" style="margin-left:2%; margin-top:2%;">
                                        A<input type="radio" name="asistencia" id="aus" style="margin-left:2%; margin-top:2%;">
                                    </td>
                                    <td><a href="#"><i class="fa fa-eye" title="Más información" ></i></a></td>
                                </tr>
                                <tr>
                                    <td>Nicolas Ordoñez</td>
                                    <td>
                                        P<input checked type="radio" name="asistencia1" id="pres" style="margin-left:2%; margin-top:2%;">
                                        A<input type="radio" name="asistencia1" id="aus" style="margin-left:2%; margin-top:2%;">
                                    </td>
                                    <td><a href="#"><i class="fa fa-eye" title="Más información" ></i></a></td>
                                </tr>
                                <tr>
                                    <td>Marcos Gonzalez</td>
                                    <td>
                                        P<input checked type="radio" name="asistencia2" id="pres" style="margin-left:2%; margin-top:2%;">
                                        A<input type="radio" name="asistencia2" id="aus" style="margin-left:2%; margin-top:2%;">
                                    </td>
                                    <td><a href="#"><i class="fa fa-eye" title="Más información" ></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" name="guardar" class="btn btn-primary">Guardar</button>
                </div> <!-- /. COL-LG-12  -->
            </div> <!-- /. ROW  -->
        </div> <!-- /. PAGE INNER  -->
    </div> <!-- /. WRAPPER  -->
</body>  
</html>