<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='../img/admin/logo.png' rel='shortcut icon' type='image/png'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistencia</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="../css/admin/bootstrap.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

   <!--<link href="../css/font-awesome.min.css" rel="stylesheet" />-->
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
    <!-- CUSTOM STYLES-->
    <link href="../css/admin/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins/morris/raphael.min.js"></script>
    <script src="../js/plugins/morris/morris.min.js"></script>
    <script src="../js/plugins/morris/morris-data.js"></script>
	    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>
    
    <!-- jQueryUi Version 1.8 -->
    <script src="../js/jquery-ui.js"></script>
    
    <script src="../js/jquery.dataTables.min.js"></script>
    
</head>
<body>
    <!-- /. NAV TOP  -->
    <header class="cd-main-header">
		<a href="#0" class="cd-logo"><img style="margin-top: 1%; margin-left: 1%;" src="../img/admin/logo2.png" alt="Logo"></a>
		<a href="#0" class="cd-nav-trigger"><span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
			</ul>
		</nav>
	</header>
	  <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
							<ul class="nav" id="main-menu" >
							<div style="background: #1F5B1F; color:#ffffff;margin-bottom:1%;" >
								<center><br><br><br><br><div>Bienvenido/a, </div><label><span class="resaltado">Judith</span></center></label>
								<br><div href="">Salir</div></label>
							</div>
                    <li>
                        <a  href="inicio.html"><i class="fa fa-home"></i>Inicio</a>
                    </li>
                    <li>
                        <a  href="materias.html"><i class="fa fa-book"></i>Materias</a>
                    </li>
                    <li>
                        <a class="active-menu" href="asistencia.html"><i class="fa fa-list"></i>Tomar asistencia</a>
                    </li>
                </ul>
            </div>
    </nav>
    <!--  Inicia la pagina  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <!-- Titulo de la pagina  -->
            <div class="row">
                <div class="col-lg-12">
                    <center><h2>Tomar asistencia</h2></center>
                </div>
            </div>
        </div>
        <!-- Otra seccion  -->
        <div id="page-inner">
            <div class="row">
                <!-- Formulario para tomar asistencia (seleccionar materia y dia)-->
                <form class="form-horizontal" role="form">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <h4 class="col-lg-3">Seleccionar una materia:</h4>
                            <select class="col-lg-3" style="margin-top:2%;">
                                <option value="nombre" selected disabled>Seleccionar una materia</option>
                                <option value="mat1">Analisis matematico 1</option>
                                <option value="mat2">Analisis matematico 2</option>
                                <option value="mat3">Analisis matematico 3</option>
                            </select>
                            <h4 class="col-lg-1 col-offset-1">Dia:</h4>
                            <!-- Datepicker (nota: solo funciona en chrome)  -->
                            <div class="col-xs-5 date">
                                <div class="input-group input-append date" id="dateRangePicker" style="margin-top:3.5%">
                                    <input type="date" class="form-control" name="date" />
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- /. ROW  -->
        </div> <!-- /. PAGE INNER  -->
        <!-- Incia otra seccion  -->
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <!--  Tabla para tomar asistencia  -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                  <th>Alumnos</th>
                                  <th>Tomar asistencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Augusto jair</td>
                                    <td>
                                        <!-- name (tienen que tener el mismo nombre para que lo reconozca dentro del mismo lugar)  -->
                                        P<input checked type="radio" name="asistencia" id="pres" style="margin-left:2%; margin-top:2%;">
                                        A<input type="radio" name="asistencia" id="aus" style="margin-left:2%; margin-top:2%;">
                                    </td>
                                    <td><a href="#"><i class="fa fa-eye" title="Más información" ></i></a></td>
                                </tr>
                                <tr>
                                    <td>Nicolas Ordoñez</td>
                                    <td>
                                        P<input checked type="radio" name="asistencia1" id="pres" style="margin-left:2%; margin-top:2%;">
                                        A<input type="radio" name="asistencia1" id="aus" style="margin-left:2%; margin-top:2%;">
                                    </td>
                                    <td><a href="#"><i class="fa fa-eye" title="Más información" ></i></a></td>
                                </tr>
                                <tr>
                                    <td>Marcos Gonzalez</td>
                                    <td>
                                        P<input checked type="radio" name="asistencia2" id="pres" style="margin-left:2%; margin-top:2%;">
                                        A<input type="radio" name="asistencia2" id="aus" style="margin-left:2%; margin-top:2%;">
                                    </td>
                                    <td><a href="#"><i class="fa fa-eye" title="Más información" ></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" name="guardar" class="btn btn-primary">Guardar</button>
                </div> <!-- /. COL-LG-12  -->
            </div> <!-- /. ROW  -->
        </div> <!-- /. PAGE INNER  -->
						<footer style="width:100%; text-align:center; font-size:10px; margin-top:5%; color:grey;">
				    Desarrollado por SENAM
            <br><br>
            Copyright © 2015 Instituto Parroquial San José.
            <br><br>
            Todos los Derechos Reservados.
				</footer>
    </div> <!-- /. WRAPPER  -->
</body>  
</html>
