{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href="{% static '../../static/img/admin/logo.png' %}" rel='shortcut icon' type='image/png'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administracion de alumnos</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static '../../static/css/admin/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static '../../static/css/bootstrap.min.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES -->
    <link href="{% static '../../static/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES
    <link href=" js/ morris/morris-0.4.3.min.css" rel="stylesheet" />-->
        <!-- CUSTOM STYLES-->
    <link href="{% static '../../static/css/admin/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		  <!-- jQuery Version 1.11.0 -->
    <script src="{% static '../../static/js/jquery-1.11.0.js' %}"></script>
    <!-- jQueryUi Version 1.8 -->
    <script src="{% static '../../static/js/jquery-ui.js' %}"></script>
    <script src="{% static '../../static/js/jquery.dataTables.min.js' %}"></script>
</head>
<body>
    <!-- /. NAV TOP  -->
    <header class="cd-main-header">
			<a href="/Profesor/inicio" class="cd-logo"><img style="margin-top: 1%; margin-left: 1%;" src="{% static '../../static/img/admin/logo2.png' %}" alt="Logo"></a>
			<a href="/Profesor/inicio" class="cd-nav-trigger"><span></span></a>
			<nav class="cd-nav">
				<ul class="cd-top-nav">
				</ul>
			</nav>
		</header>
	  <nav class="navbar-default navbar-side" role="navigation">
    	<div class="sidebar-collapse">
				<ul class="nav" id="main-menu" >
					<div style="background: #1F5B1F; color:#ffffff;margin-bottom:1%;" >
						<center><br><br><br><br><div>Bienvenido/a, </div><label><span class="resaltado">{{user.username}}</span></center></label>
						<br>
					</div>
          <li>
    	      <a  class="active-menu" href="/Profesor/inicio"><i class="fa fa-home"></i>Inicio</a>
          </li>
          <li>
      	    <a href="/Profesor/asistencia"><i class="fa fa-list"></i>Asistencia</a>
          </li>
        <li>
    	      <a  href="/Profesor/materias"><i class="fa fa-book"></i>Materias</a>
    	</li>
        <li>
    	      <a  href="{% url 'matriculas:logout' %}"><i class="fa fa-sign-out"></i>Salir</a>
    	</li>
				</ul>
			</div>
    </nav>
    <!-- Inicio de la pagina  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <center><h2>Datos del profesor</h2></center>
                </div>
            </div>
        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-11 informacion-alumno" style="margin-left:4%; margin-right:10%">
                    <form role="form" style="margin-top:10px"> 
                        <div class="col-sm-6">
                            <div class="form-group" style="margin-top:10px;">
                                <label for="nombre">Nombre/s:  </label><h>Melisa</h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" style="margin-top:10px;">
                                <label>Apellido:</label><h>  Saucedo</h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Lugar y fecha de nacimiento:</label><h>  Córdoba, 14/02/84</h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Estado civil:</label><h>  Soltera</h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Cuil:</label><h>  23-32023021-9</h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Domicilio:</label><h>  Javier Lascano Colodrero 323</h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Teléfono:</label><h>  4234567</h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Celular:</label><h>  158623956</h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Mail:</label><h>  melisasaucedo@gmail.com</h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Titulo y Nº de registro:</label><h></h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fecha de escalafón:</label><h></h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fecha de apto psicofisico::</label><h></h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Cargo (cantidad de horas - alta y baja):</label><h></h>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" style="margin-bottom: 10px;">
                                <label>Licencias:</label><h></h>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
						<footer style="width:100%; text-align:center; font-size:10px; margin-top:5%; color:grey;">
						Desarrollado por SENAM
            <br><br>
            Copyright © 2015 Instituto Parroquial San José.
            <br><br>
            Todos los Derechos Reservados.
				</footer>

     <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS 
    <script src="assets/js/jquery-1.10.2.js"></script>-->
      <!-- BOOTSTRAP SCRIPTS 
    <script src="assets/js/bootstrap.min.js"></script>-->
    <!-- METISMENU SCRIPTS 
    <script src="assets/js/jquery.metisMenu.js"></script>-->
     <!-- MORRIS CHART SCRIPTS 
     <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>-->
      <!-- CUSTOM SCRIPTS 
    <script src="assets/js/custom.js"></script>-->
    
   
</body>
    
</html>
